@import url("https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css");

/* .leaflet-routing-alternatives-container {
    background-color: #fff;
    cursor: default;
    display: block;
    width: 300px;
    max-height: 300px;
    border-radius: 15px;
    overflow: auto;
    border: 1px solid #81858A;
    padding-left: 5px;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.leaflet-routing-alternatives-container::-webkit-scrollbar {
    display: none;
}

.leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-routing-alt h2 {
    color: #000;
}

.leaflet-routing-alt table tr:hover {
    color: #2185D0;
}

.leaflet-routing-alt table tr td:nth-child(2) {
    width: 245px;
}

.leaflet-routing-alt table tr td:nth-child(3) {
    width: 55px;
} */

.closeRoutingBtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1001;
    width: 150px;
    height: 30px;
    border: 1px solid #81858A;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: linear-gradient(to right, #990000, #f10000);
}

.closeRoutingBtn:hover {
    transform: scale(1.07);
}

@media (max-width: 769px){ 
    .closeRoutingButton {
        left: 1px;
        bottom: 1px;
    }
}