.sidebar2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background: #ffffff;
    transition: ease-in-out 1s;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
}

.sidebar2 .logo-content {
    position: absolute;
    width: 240px;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 4;
    border-bottom: 1px solid #F3F4F6;
}

.sidebar2 .logo-content #fit-logo {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.sidebar2.show {
    width: 240px;
}

.sidebar2.show #hnue-img-2 {
    display: block;
}

.sidebar2.show #fit-logo {
    display: block;
}

.sidebar2 #hnue-img-2{
    position: absolute;
    height: 32px;
    left: 93.335px;
    top: 9px;
    display: none;
}

.sidebar2 .nav_list {
    position: absolute;
    width: 240px;
    height: calc(100% - 50px);
    top: 50px;
    left: 0;
    padding-left: 0;
}

.sidebar2 #menu-btn-2{
    position: absolute;
    color: #fff;
    left: 13px;
    top: 13px;
    height: 24px;
    width: 24px;
    text-align: center;
    cursor: pointer;
    background-image: url(../source-img/menu-icon.svg);
}


.sidebar2 ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    font-weight: normal;
    cursor: pointer;
}

.sidebar2 ul li a{
    color: #000000;
    display: flex;
    text-decoration: none;
    border-radius: 12px; 
    position: relative;
}

.sidebar2 ul li .dropdown {
    color: #000000;
    display: flex;
    text-decoration: none;
    border-radius: 12px; 
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar2 ul li .dropdown ul {
    width: 100%;
    height: 100%;
}

.sidebar2 ul li .dropdown .custom-dropdown-toggle {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 0;
    font-size: 20px;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

.sidebar2 ul li a div{
    background-color: #fdfdfd;
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 50px;
}

.sidebar2 ul li a img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 16px;
    left: 16px;
}

.sidebar2 ul li a span{
    position: absolute;
    height: 19px;
    top: 15px;
    left: 50px;
    font-size: 14px;
}

.sidebar2.show + .main-content {
    width: calc(100% - 240px);
    left: 240px;
}
.main-content.show {
    width: calc(100% - 240px);
    left: 240px;
}

.selected {
    color: #2185D0;
    background: #fff;
}

.sidebar2 ul li a .selected div{
    background-color: #2185D0;
}

.sidebar2 ul li a div.active {
    background-color: #2185D0;
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 50px;
}

.sidebar2 ul li a span.active{
    color: #2185D0;
}

.sidebar2 ul li a:hover{
    color: #2185D0;
    background: #fff;
    filter: invert(54%) sepia(42%) saturate(2841%) hue-rotate(195deg) brightness(90%) contrast(88%);
}

.sidebar2 #google-login-div, .sidebar2 #google-login-btn {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    border-top: 1px solid #F3F4F6;
}

.sidebar2 #google-login-div #userProfilePicture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 5px;
    bottom: 5px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sidebar2 #google-login-div #userName {
    font-size: 13px;
    width: 190px;
    text-align: left;
    font-weight: bold;
    position: absolute;
    left: 55px;
}

.sidebar2 #google-login-div #logout-btn {
    background-color: #fff;
    left: 50px;
    font-size: 13px;
    border: none;
    position: absolute;
    font-weight: 600;
    color: #DC3545;
    bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.sidebar2 #google-login-div #logout-btn:hover {
    color: #fff;
    background-color: #DC3545;
}

.sidebar2 #google-login-btn .login-text {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 55px;
    cursor: pointer;
}

.sidebar2 #google-login-btn img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.sidebar2 #google-login-btn img:hover {
    transform: scale(1.2);
}
 
/* button đổi ngôn ngữ */

.language-toggle-box label {
    width: 80px;
    height: 40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }

  #language-toggle {
    display: none;
  }
  
  li .language-toggle-box {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
  }
  
  .language-toggle-box label:after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    top:2px;
    left:2px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }

  .language-toggle-box input:checked + label:after {
    left:78px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#807878);
  }
  .language-toggle-box label, .language-toggle-box label:after {
    transition: 0.4s
  }
  
  .language-toggle-box label:active:after{ 
    width: 52px; 
  }
  
  .language-toggle-box label img {
    position: absolute;
    width: 24px;
    top:8px;
    z-index: 100;
  }
  .language-toggle-box label img.vi {
    left:8px;
    fill:#fff;
    transition: 0.3s;
  }
  .language-toggle-box label img.en {
    left:48px;
    fill:#7e7e7e;
    transition: 0.3s;
  }
  .language-toggle-box input:checked + label img.vi {
    fill:#7e7e7e;
  }
  .language-toggle-box input:checked + label img.en {
    fill:#fff;
  }
  
/* nhạc nền */

li #music {
    position: absolute; 
    cursor: pointer; 
    top: 5px; 
    left: 5px; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    border: 3px solid red;
}

#music.scale-animation {
    animation: scaleAnimation 0.5s infinite; 
}

#userProfilePicture:hover {
    transform: scale(1.2);
}

@keyframes scaleAnimation {
    0% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
    }
    50% {
      transform: scale(1.2);
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
    }
}

#mobile-toolbar{
    display: none;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    z-index: 100000;
}

#open-menu {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(/source-img/bars-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

#app-name {
    font-size: 1.125rem;
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 500;
    transform: translate(-50%, -50%);
}

#open-search-menu {
    height: 26px;
    width: 26px;
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: transparent;
}

@media (max-width: 769px){
    .sidebar {
        display: none;
    }
    .sidebar2 {
        display: block;
    }
    #mobile-toolbar {
        display: block;
    }
    .main-content {
        position: absolute;
        height: calc(100% - 50px);
        top: 50px;
        width: 100%;
        left: 0;
        transition: ease-in-out 1s;
        background-color: #f8fafb;
        z-index: 1;
        padding: 0;
    }
    #direction-board {
        width: 100%;
        right: 0;
        top: -46px;
        border-radius: 0;
        border: none;
    }
    #HNUE-introduction, #product-introduction, #infomation-pages, #donate-div, #support-div {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    .infoDiv {
        position: absolute;
        width: 100%;
        height: 100%;
        min-width: 0;
        border-radius: 0;
        border: none;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        box-shadow: none;
    }
    #directionArrow {
        display: none;
    }
}