@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://unpkg.com/leaflet/dist/leaflet.css");

*{
  font-family: 'Roboto';
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-content {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0;
}

.main-content #map {
    height: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.main-content .button-box {
  z-index: 2;
  width: 60px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.main-content .button-box .toggle-btn {
  height: 100%;
  width: 46%;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
  text-align: center;
  font-size: 14px;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 30px;
  height: 100%;
  background: #00cbfd;
  border-radius: 8px;
  transition: .7s;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  }
}

/* Áp dụng keyframes vào thẻ img khi có class "scale-animation" */
#music.scale-animation {
  animation: scaleAnimation 0.5s infinite; /* Lặp vô hạn sau mỗi 0.5s */
}

.contentEnglish {
  display: none;
}

.infoDiv {
  position: absolute;
  width: 80%;
  height: 80%;
  max-width: 1000px;
  max-height: 600px;
  z-index: 1000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.img-demo {
  width: 80%; 
  margin-top: 20px; 
  margin-left: 10%; 
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

#support-div {
  position: absolute;
  width: 100%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
  z-index: 100000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

#social-network-div {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 800px;
  z-index: 100000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f2f5;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  overflow-x: hidden;
  overflow-y: scroll;
}

#social-network-div::-webkit-scrollbar {
  display: none;
}

#donate-div {
  position: absolute;
  z-index: 100000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.infoDiv .toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.infoDiv .toolbar .close {
  position: fixed;
  background: url(source-img/close.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.close-div {
  position: absolute;
  background: url(source-img/close.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.infoDiv .toolbar .direct-btn {
  background: url(source-img/direct.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 115px;
}

.infoDiv .toolbar .tim-duong {
  font-size: 15px; 
  color: #000; 
  font-weight: bold;
  left: 15px; 
  position: absolute; 
  top: 16px;
}

.infoDiv .toolbar .dong-gop {
  font-size: 15px; 
  color: #000; 
  font-weight: bold;
  left: 40%; 
  position: absolute; 
  top: 16px;
}

.infoDiv .toolbar .send-feedback {
  height: 35px; 
  position: absolute; 
  top: 10px; 
  left: calc(40% + 100px);
  cursor: pointer;
}

.infoDiv .content {
  margin-top: 40px;
}

.infoDiv .building-name {
  font-size: 15px;
  font-weight: bold;
}

.infoDiv .building-info {
  font-size: 13px;
  word-wrap: break-word; 
  margin-top: 10px;
  color: #707070;
}

.login-text {
  font-size: 15px; 
  font-weight: bold; 
  position: absolute; 
  top: 16px; 
  left: 5px;
}

#google-login-btn, #google-login-div {
  position: absolute; 
  background-color: #fff; 
  z-index: 500; 
  top: 5px; 
  right: 100px; 
  width: 150px; 
  height: 54px; 
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

#google-login-div {
  position: absolute; 
  background-color: #fff; 
  z-index: 500; 
  top: 5px; 
  right: 100px; 
  width: 150px; 
  height: 54px; 
  border-radius: 10px;
  cursor: default;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

#google-login-btn img, #google-login-div img {
  width: 36px; 
  border: none; 
  border-radius: 50%; 
  height: 36px; 
  position: absolute; 
  top: 9px; 
  right: 5px;
}

#userProfilePicture1 {
  width: 30px; 
  border: none; 
  border-radius: 50%; 
  height: 30px; 
  position: absolute; 
  top: 9px; 
  left: 10px;
}

#userProfilePicture2 {
  width: 40px; 
  border: none; 
  border-radius: 50%; 
  height: 40px; 
  position: absolute; 
  top: 56px; 
  left: 10px;
}

.show-post .post-userProfilePicture {
  width: 40px; 
  border: none; 
  border-radius: 50%; 
  height: 40px; 
  position: absolute; 
  top: 10px; 
  left: 10px;
}

.post-btn {
  height: 30px; 
  left: 50px; 
  cursor: pointer; 
  font-size: 14px; 
  border-radius: 15px; 
  width: calc(100% - 60px); 
  color: #7c676b; 
  border: none; 
  visibility: visible; 
  top: 10px; 
  position: absolute; 
  background-color: #f0f2f5;
  overflow: hidden;
}

.post-btn:hover {
  background-color: #e4e6e9;
}

.post-btn span {
  position: absolute; 
  left: 10px; 
  top: 5px
}

.darken {
  filter: brightness(0.9);
}

.creat-post-span {
  font-size: 20px; 
  position: relative; 
  top: 10px; 
  font-weight: bold;
  cursor: default;
}

#post-div {
  width: 60%; 
  border-radius: 15px; 
  height: 52px; 
  background-color: #fff; 
  border: 1px solid #e4e6e9; 
  position: absolute; 
  left: 20%; 
  top: 10px;
}

#userName {
  font-size: 14px; 
  text-align: center; 
  font-weight: bold; 
  width: 100px; 
  height: 20px; 
  overflow: hidden; 
  position: absolute; 
  cursor: default; 
  top: 5px; 
  left: 5px;
}

#userName2 {
  font-size: 15px; 
  text-align: center; 
  font-weight: bold; 
  height: 20px; 
  overflow: hidden; 
  position: absolute; 
  cursor: default; 
  top: 65px; 
  left: 60px;
}

.show-post .post-username{
  font-size: 15px; 
  font-weight: bold; 
  height: 20px; 
  overflow: hidden; 
  position: absolute; 
  cursor: default; 
  left: 60px;
  top: 10px;
}

.show-post .post-time {
  font-size: 10px;
  color: #65676b;
  width: auto;
  position: absolute;
  left: 60px;
  top: 30px;
  cursor: default;
}

.show-post .post-text-status {
  position: absolute;
  top: 60px;
  height: 100px;
  background-color: #fff;
  overflow-y: scroll;
  color: #000;
  left: 10px;
  right: 10px;
  font-size: 13px;
  word-wrap: break-word;
  cursor: default;
}

.show-post .post-image {
  width: calc(100% - 20px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  top: 170px;
  height: 300px;
  overflow: hidden;
}

.show-post .post-image img {
  height: 100%;
}

#add-photo {
  background-image: url(source-img/add-a-photo.png); 
  width: 100px; 
  height: 100px; 
  position: absolute; 
  left: 10px; 
  bottom: 50px; 
  cursor: pointer;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 1px solid #DEDEDF;
}

#add-address-img {
  height: 22px; 
  position: absolute; 
  right: 5px; 
  bottom: 2.5px;
}

.status {
  background-color: #fff; 
  width: calc(100% - 20px); 
  font-size: 17px; 
  height: 134px; 
  position: absolute; 
  top: 105px; 
  left: 10px;
  padding: 5px;
  overflow: auto;
  border: none;
  resize: none;
}

.post-status {
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
  height: 30px;
  background-color: #2185D0;
  color: #fff;
  border: none;
  border-radius: 6px;
  bottom: 10px;
  font-weight: 600;
  font-size: .875rem;
}

#post-status:disabled {
  background-color: #e4e6eb;
  color: #bdc1c5;
  cursor: not-allowed; 
}

#logout-btn, #logout-btn-1 {
  border: none;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  bottom: 5px;
  left: 20px;
  background-color: #fff;
  color: #DC3545;
}

#enter-post {
  width: 60%; 
  display: none; 
  border-radius: 15px; 
  height: 400px; 
  background-color: #fff; 
  border: 1px solid #e4e6e9; 
  position: absolute; 
  left: 20%; 
  top: 5px;
  z-index: 5000;
}

.show-post {
  width: 62%; 
  border-radius: 15px; 
  height: 570px; 
  background-color: #fff; 
  border: 1px solid #e4e6e9; 
  position: relative; 
  left: 19%; 
  margin-top: 10px;
}

#posts-container {
  width: 100%; 
  border-radius: 15px; 
  height: auto; 
  background-color: transparent; 
  position: relative; 
  left: 0; 
  margin-top: 50px;
}

.show-post #line {
  width: calc(100% - 20px);
  left: 10px;
  position: absolute;
  background-color: #ced0d4;
  bottom: 40px;
  height: 1px;
}

.show-post .like-post {
  height: 30px;
  width: calc((100% - 20px) / 3);
  position: absolute;
  left: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.show-post .like-post:hover {
  background-color: #f2f2f2;
}

.show-post .comment-post {
  height: 30px;
  width: calc((100% - 20px) / 3);
  position: absolute;
  left: calc((100% - 20px) / 3 + 10px);
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.show-post .comment-post:hover {
  background-color: #f2f2f2;
}

.show-post .direct-post {
  height: 30px;
  width: calc((100% - 20px) / 3);
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.show-post .direct-post:hover {
  background-color: #f2f2f2;
}

.action-text {
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: -2px;
  cursor: pointer;
  color: #77797c;
}

.action-img {
  width: 20px;
  height: 20px;
}

.post-address {
  font-size: 13px;
  position: absolute;
  bottom: 70px;
  left: 10px;
  font-weight: 600;
  background-color: #fff;
  width: calc(100% - 20px);
  overflow: hidden;
  cursor: default;
}

.number-like {
  height: 20px;
  left: 10px;
  position: absolute;
  bottom: 45px;
  font-size: 13px;
  color: #77797c;
  cursor: default;
}

.liked-img {
  position: absolute;
  bottom: 0;
  height: 12px;
}

#number-like {
  margin-bottom: -10px;
  position: absolute;
  bottom: 6px;
  left: 16px;
}

.number-comment {
  height: 20px;
  right: 10px;
  position: absolute;
  bottom: 45px;
  font-size: 13px;
  color: #77797c;
  cursor: default;
}

.commented-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12px;
}

#number-comment {
  margin-bottom: -10px;
  position: absolute;
  bottom: 6px;
  right: 16px;
}

.info {
  background: url(source-img/info-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 40px;
}

.language-toggle-box label {
  width: 80px;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}

.main-content .language-toggle-box {
  position: absolute;
  top: -18px;
  right: 10px;
  z-index: 2;
}

.language-toggle-box label:after {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  top:2px;
  left:2px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
#imageInput {
  width: 0;
  height: 0;
  visibility: hidden;
}

#add-location {
  background-color: #fff; 
  width: calc(100% - 130px); 
  position: absolute; 
  height: 50px; 
  bottom: 50px; 
  right: 10px;
}

#add-address {
  background-color: #fff; 
  width: calc(100% - 130px); 
  position: absolute; 
  height: 50px; 
  bottom: 105px; 
  right: 10px;
}

#text-location-vn, #text-location-eng, #text-address-vn, #text-address-eng {
  height: 25px; 
  font-size: 13px; 
  width: calc(100% - 30px); 
  left: 0; 
  bottom: 0; 
  cursor: default;
  border: 1.5px solid #dededf;
  border-radius: 5px;
  padding-left: 5px;
}

#add-location-button {
  width: 25px; 
  position: absolute; 
  right: 0; 
  bottom: 1px;
  cursor: pointer;
}

.language-toggle-box input:checked + label:after {
  left:78px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#807878);
}
.language-toggle-box label, .language-toggle-box label:after {
  transition: 0.4s
}

.language-toggle-box label:active:after{ 
  width: 52px; 
}

.language-toggle-box label img {
  position: absolute;
  width: 24px;
  top:8px;
  z-index: 100;
}
.language-toggle-box label img.vi {
  left:8px;
  fill:#fff;
  transition: 0.3s;
}
.language-toggle-box label img.en {
  left:48px;
  fill:#7e7e7e;
  transition: 0.3s;
}
.language-toggle-box input:checked + label img.vi {
  fill:#7e7e7e;
}
.language-toggle-box input:checked + label img.en {
  fill:#fff;
}



/* burger icon menu */

.main-content .menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px; 
  height: 54px; 
  cursor: pointer;
  background: #173885;
  transition: all 0.5s ease-in-out;
  border: 3px solid #fff;
  border-radius: 20px;
  top: 5px;
  left: 10px;
  z-index: 10000;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.menu-btn__burger {
  width: 27px;
  height: 4.5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 27px; 
  height: 4.5px; 
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform:  translateY(-8px)
              translateX(-13px); 
}

.menu-btn__burger::after {
  transform:  translateY(8px)              
              translateX(-13px); 
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-37px); 
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(17px, -17px); 
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(17px, 17px); 
}

.main-content .menu {
  display: none; 
  width: 69%;
  max-width: 300px;
  height: 300px;
  position: absolute; 
  background-color: #fff;
  top: 3px; 
  left: 8px; 
  z-index: 9999;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.main-content .menu #hnue-img {
  height: 54px; 
  border-radius: 5px; 
  position: absolute; 
  top: 3px; left: 50%; 
  transform: translateX(-50%);
  border: 0.5px solid #000;
}

.main-content .menu #fit-logo {
  height: 54px; 
  border-radius: 5px; 
  position: absolute; 
  top: 3px; 
  right: 5px;
}

.main-content .menu #menu-content {
  width: 100%; 
  height: calc(100% - 60px); 
  position: absolute; 
  top: 60px; 
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.main-content .menu #menu-content #introduce {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 0;
  font-size: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.main-content .menu #menu-content #introduce img {
  position: absolute; 
  height: 40px; 
  left: 15px; 
  top: 8px
}

.main-content .menu #menu-content #introduce:hover {
  color: #2185D0;
}


.main-content .menu #menu-content .dropdown ul li a:hover{
  color: #fff;
  background-color: #2185D0;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
}

.main-content .menu #menu-content .dropdown .dropdown-menu {
  width: 100%;
}

.main-content .menu #menu-content #support-us {
  width: 100%;
  height: 60px;
}

.main-content .menu #menu-content #social-network {
  width: 100%;
  height: 60px;
}

.main-content .menu #menu-content #support-us button, .main-content .menu #menu-content #social-network button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

.main-content .menu #menu-content #support-us span,.main-content .menu #menu-content #social-network span {
  font-size: 20px;
  pointer-events: none;
}

.main-content .menu #menu-content #support-us button:hover, .main-content .menu #menu-content #social-network button:hover {
  color: #2185D0;
}

.main-content .menu #menu-content #donate-us {
  width: 100%;
  height: 60px;
  border-radius: 0 0 20px 20px;
}

.main-content .menu #menu-content #donate-us button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  border-radius: 0 0 20px 20px;

}

.main-content .menu #menu-content #donate-us span {
  font-size: 20px;
  pointer-events: none;
}

.main-content .menu #menu-content #donate-us button:hover {
  color: #2185D0;
}

.big-text {
  font-size: 30px;
  font-weight: bold;
}

#email-to-us {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 30px;
}

#email-to-us #send-mail {
  position: absolute;
  background: url(source-img/envelope-regular.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  top: 5px;
  left: 5px;
}


#email-to-us #my-mail {
  position: absolute;
  font-size: 20px;
  left: 55px;
  bottom: 5px;
}

@media (min-width : 650px){
  #tool-bar, #search-bar {
    display: none;
  }
}

@media (max-width: 650px){
  .infoDiv {
    height: 60%;
    width: 96%;
  }
  .infoDiv .toolbar {
    height: 100px;
  }
  .infoDiv .content {
    margin-top: 90px;
  }
  .infoDiv .toolbar .dong-gop {
    left: 15px;
    top: 66px;
  }
  .infoDiv .toolbar .direct-btn {
    left: 120px;
  }
  .infoDiv .toolbar .send-feedback {
    top: 60px;
    left: 120px;
  }
  #post-div {
    width: 90%;  
    left: 5%; 
    top: 30px;
  }
  #enter-post {
    width: 90%; 
    left: 5%; 
    top: 30px;
  }
  .show-post {
    width: 98%;
    left: 1%;
    top: 30px;
  }

  /* #search-bar {
    position: absolute;
    display: flex;
    width: 90%;
    height: 45px;
    background: #ffffff;
    border-radius: 10px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
    cursor: pointer;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .search-bar_icon{
    margin-left: 5px;
    margin-right: auto;
    justify-content: center; 
    display: flex;
    align-items: center; 
    width: 40px;
    height: 40px;
  }

  .search-bar_icon-image{
    width: 50%;
    height: 50%;
  }

  .search-bar_user-icon{
    margin-left: auto;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D9D9D9;
  }
  .search-bar_input {
    flex: 1; 
    text-align: left;   
    border: none;
    outline: none;
  }
  .search-bar_input::placeholder {
    text-align: left; 
  }

  
  /* Tool bar */
  /* #tool-bar {
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 400px;
    bottom: 10px;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(100);
  }
  .tool-bar_header1{
    width: 30px;
    height: 4px;
    background: #DADCE0;
    position: relative;
    border-radius: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tool-bar_header2
  {
    width: 100%;
    height: 150px;
    top: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
   .tool-bar_header2_title{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }
  .tool-bar_header2_choose{
    display: block;
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex; 
  }
  
  .tool-bar_header2_choose_child
  {
    width: 130px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .tool-bar_header2_choose_child_content
  {
    width: 60px;
    height: 60px;
    background: #1A73E8;
    position: relative;
    border-radius: 30px;
    
  }
  .tool-bar_header2_choose_child_content_logo
  {
    width: 40px;
    height: 40px;
    top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tool-bar_header2_choose_child_content_logo_item{
    
    width: 40px;
    height: 40px;
    top: 30px;
    position: relative;
    left: 4px;
    top: 7px;
  }

  .tool-bar_header2_choose_child_content_text
  {
    width: 100px;
    height: 50px;
    top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #81858A;
  }
  .tool-bar_line1{
    height: 2px;
    width: 80%;
    background: #E0E2E6;
    border-radius: 2px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 170px;
  }

  
  .tool-bar_header3
  {
    width: 100%;
    height: 150px;
    top: 270px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
   .tool-bar_header3_title{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }
  .tool-bar_header3_choose{
    display: block;
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex; 
  }
  
  .tool-bar_header3_choose_child
  {
    width: 130px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .tool-bar_header3_choose_child_content
  {
    width: 60px;
    height: 60px;
    background: #666666;
    position: relative;
    border-radius: 30px;
    
  }
  .tool-bar_header3_choose_child_content_logo
  {
    width: 40px;
    height: 40px;
    top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .tool-bar_header3_choose_child_content_logo_content
  {
    width: 40px;
    height: 40px;
    position: relative;
    left: 8px;
    top: 8px;
  }

  .tool-bar_header3_choose_child_content_text
  {
    width: 100px;
    height: 50px;
    top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #81858A;
  }
  .tool-bar_line2{
    width: 100%;
    height: 5px;
    background: #D9D9D9;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 330px;
    margin: 0px;
  }
  .tool-bar_select-language{
    top: 340px;
    position: relative;
    width: 150px;
    height: 25px;
    display: flex;
    margin-left: 15px;
  }
  .tool-bar_select-language_icon
  {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .65;
    padding: 12px 4px 12px 24px;
    background-position: 4px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(//maps.gstatic.com/mapfiles/maps_lite/images/1x/translate_1x.svg);
  }
  .tool-bar_select-language_drop-down
  {
    width: 100px;
    height: 25px;
    border-color: white;
  }
  .tool-ba_contribute{
    width: 120px;
    height: 25px;
    top: 315px;
    margin-left: auto;
    display: flex;
    position: relative;
  }
  .tool-ba_contribute_icon{
    width: 25px;
    height: 25px;
    opacity: .65;
    padding: 12px 4px 12px 24px;
    background-position: 4px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(//maps.gstatic.com/mapfiles/maps_lite/images/1x/feedback_1x.svg);
  }
  .tool-ba_contribute_text-content{
    margin-left: 5px;
  }

  

.tool-bar button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.tool-bar button:hover {
  background-color: #ddd;
}

.tool-bar button.active {
  background-color: #000;
  color: #fff;
} */

/* Cho phép di chuyển thanh công cụ */
/* .tool-bar.draggable {
  cursor: move;
}

.tool-bar.draggable:active {
  opacity: 0.5;
}
   */

  /* Hind orther resposive */
  /* #menu-btn__burger{
    display: none;
  }

  .language-toggle-box{
    display: none;
  }
  #google-login-btn{
    display: none;
  }
  #music{
    display: none;
  }  */
}