@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://unpkg.com/leaflet/dist/leaflet.css");

*{
  font-family: 'Roboto';
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-content {
  position: absolute;
  height: 100%;
  width: calc(100% - 50px);
  left: 50px;
  transition: ease-in-out 1s;
  background-color: #f8fafb;
  z-index: 1;
  padding: 0;
}

.main-content #map {
    height: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.main-content .button-box {
  z-index: 2;
  width: 60px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.main-content .button-box .toggle-btn {
  height: 100%;
  width: 46%;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
  text-align: center;
  font-size: 14px;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 30px;
  height: 100%;
  background: #00cbfd;
  border-radius: 8px;
  transition: .7s;
}




.contentEnglish {
  display: none;
}

.infoDiv {
  position: absolute;
  width: 80%;
  height: 80%;
  max-width: 1000px;
  max-height: 600px;
  z-index: 1000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.img-demo {
  width: 80%; 
  margin-top: 20px; 
  margin-left: 10%; 
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

#support-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

#social-network-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f2f5;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  overflow-x: hidden;
  overflow-y: scroll;
}

#HNUE-introduction, #product-introduction, #infomation-pages {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f2f5;
  top: 0;
  left: 0;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  overflow: auto;
}

#social-network-div::-webkit-scrollbar {
  display: none;
}

#donate-div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000; 
  display: none;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  top: 0;
  left: 0;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

.image-qr {
  width: 270px; 
  position: absolute; 
  left: calc((100% - 270px)/2);
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  bottom: 100px;
}

.infoDiv .toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.infoDiv .toolbar .close {
  position: fixed;
  background: url(source-img/close.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.close-div {
  position: absolute;
  background: url(source-img/close.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.infoDiv .toolbar .direct-btn {
  background: url(source-img/direct.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 115px;
}

.infoDiv .toolbar .tim-duong {
  font-size: 15px; 
  color: #000; 
  font-weight: bold;
  left: 15px; 
  position: absolute; 
  top: 16px;
}

.infoDiv .toolbar .dong-gop {
  font-size: 15px; 
  color: #000; 
  font-weight: bold;
  left: 40%; 
  position: absolute; 
  top: 16px;
}

.infoDiv .toolbar .send-feedback {
  height: 35px; 
  position: absolute; 
  top: 10px; 
  left: calc(40% + 100px);
  cursor: pointer;
}

.infoDiv .content {
  margin-top: 40px;
}

.infoDiv .building-name {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

.infoDiv .building-info {
  font-size: 13px;
  word-wrap: break-word; 
  margin-top: 10px;
  color: #707070;
  cursor: default;
}

.login-text {
  font-size: 15px; 
  font-weight: bold; 
  position: absolute; 
  top: 16px; 
  left: 5px;
}

/* #google-login-btn, #google-login-div {
  position: absolute; 
  background-color: #fff; 
  z-index: 500; 
  top: 5px; 
  right: 100px; 
  width: 150px; 
  height: 54px; 
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
} */

/* #google-login-div {
  position: absolute; 
  background-color: #fff; 
  z-index: 500; 
  top: 5px; 
  right: 100px; 
  width: 150px; 
  height: 54px; 
  border-radius: 10px;
  cursor: default;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

#google-login-btn img, #google-login-div img {
  width: 36px; 
  border: none; 
  border-radius: 50%; 
  height: 36px; 
  position: absolute; 
  top: 9px; 
  right: 5px;
} */

#userProfilePicture1 {
  width: 30px; 
  border: none; 
  border-radius: 50%; 
  height: 30px; 
  position: absolute; 
  top: 9px; 
  left: 10px;
}

#userProfilePicture2 {
  width: 40px; 
  border: none; 
  border-radius: 50%; 
  height: 40px; 
  position: absolute; 
  top: 56px; 
  left: 10px;
}

.show-post .post-userProfilePicture {
  width: 40px; 
  border: none; 
  border-radius: 50%; 
  height: 40px; 
  position: absolute; 
  top: 10px; 
  left: 10px;
}

.post-btn {
  height: 30px; 
  left: 50px; 
  cursor: pointer; 
  font-size: 14px; 
  border-radius: 15px; 
  width: calc(100% - 60px); 
  color: #7c676b; 
  border: none; 
  visibility: visible; 
  top: 10px; 
  position: absolute; 
  background-color: #f0f2f5;
  overflow: hidden;
}

.post-btn:hover {
  background-color: #e4e6e9;
}

.post-btn span {
  position: absolute; 
  left: 10px; 
  top: 5px
}

.darken {
  filter: brightness(0.9);
}

.creat-post-span {
  font-size: 20px; 
  position: relative; 
  top: 10px; 
  font-weight: bold;
  cursor: default;
}

#post-div {
  width: 60%; 
  border-radius: 15px; 
  height: 52px; 
  background-color: #fff; 
  border: 1px solid #e4e6e9; 
  position: absolute; 
  left: 20%; 
  top: 10px;
}

#userName {
  font-size: 14px; 
  text-align: center; 
  font-weight: bold; 
  width: 100px; 
  height: 20px; 
  overflow: hidden; 
  position: absolute; 
  cursor: default; 
  top: 5px; 
  left: 5px;
}

#userName2 {
  font-size: 15px; 
  text-align: center; 
  font-weight: bold; 
  height: 20px; 
  overflow: hidden; 
  position: absolute; 
  cursor: default; 
  top: 65px; 
  left: 60px;
}

.show-post .post-username{
  font-size: 15px; 
  font-weight: bold; 
  height: 20px; 
  overflow: hidden; 
  position: absolute; 
  cursor: default; 
  left: 60px;
  top: 10px;
}

.show-post .post-time {
  font-size: 10px;
  color: #65676b;
  width: auto;
  position: absolute;
  left: 60px;
  top: 30px;
  cursor: default;
}

.comment-time {
  font-size: 10px;
  color: #65676b;
  width: auto;
  position: absolute;
  left: 70px;
  top: 22px;
  cursor: default;
}

.show-post .post-text-status {
  position: absolute;
  top: 60px;
  height: 100px;
  background-color: #fff;
  overflow-y: scroll;
  color: #000;
  left: 10px;
  right: 10px;
  font-size: 13px;
  word-wrap: break-word;
  cursor: default;
}

.show-post .post-image {
  width: calc(100% - 20px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  top: 170px;
  height: 300px;
  overflow: hidden;
}

.show-post .post-image img {
  height: 100%;
}

#add-photo {
  background-image: url(source-img/add-a-photo.png); 
  width: 100px; 
  height: 100px; 
  position: absolute; 
  left: 10px; 
  bottom: 50px; 
  cursor: pointer;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 1px solid #DEDEDF;
}

#add-address-img {
  height: 22px; 
  position: absolute; 
  right: 5px; 
  bottom: 2.5px;
}

.status {
  background-color: #fff; 
  width: calc(100% - 20px); 
  font-size: 17px; 
  height: 134px; 
  position: absolute; 
  top: 105px; 
  left: 10px;
  padding: 5px;
  overflow: auto;
  border: none;
  resize: none;
}

.post-status {
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
  height: 30px;
  background-color: #2185D0;
  color: #fff;
  border: none;
  border-radius: 6px;
  bottom: 10px;
  font-weight: 600;
  font-size: .875rem;
}

#post-status:disabled {
  background-color: #e4e6eb;
  color: #bdc1c5;
  cursor: not-allowed; 
}



#enter-post {
  width: 60%; 
  display: none; 
  border-radius: 15px; 
  height: 400px; 
  background-color: #fff; 
  border: 1px solid #e4e6e9; 
  position: absolute; 
  left: 20%; 
  top: 5px;
  z-index: 5000;
}

.show-post {
  width: 62%; 
  border-radius: 15px; 
  height: 570px; 
  background-color: #fff; 
  border: 1px solid #e4e6e9; 
  position: relative; 
  left: 19%; 
  margin-top: 10px;
}

#posts-container {
  width: 100%; 
  border-radius: 15px; 
  height: auto; 
  background-color: transparent; 
  position: relative; 
  left: 0; 
  margin-top: 50px;
}

.show-post #line {
  width: calc(100% - 20px);
  left: 10px;
  position: absolute;
  background-color: #ced0d4;
  bottom: 40px;
  height: 1px;
}

.show-post .like-post {
  height: 30px;
  width: calc((100% - 20px) / 3);
  position: absolute;
  left: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.show-post .like-post:hover {
  background-color: #f2f2f2;
}

.show-post .comment-post {
  height: 30px;
  width: calc((100% - 20px) / 3);
  position: absolute;
  left: calc((100% - 20px) / 3 + 10px);
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.show-post .comment-post:hover {
  background-color: #f2f2f2;
}

.show-post .direct-post {
  height: 30px;
  width: calc((100% - 20px) / 3);
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.show-post .direct-post:hover {
  background-color: #f2f2f2;
}

.action-text {
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: -2px;
  cursor: pointer;
  color: #77797c;
}

.action-img {
  width: 20px;
  height: 20px;
}

.post-address {
  font-size: 13px;
  position: absolute;
  bottom: 70px;
  left: 10px;
  font-weight: 600;
  background-color: #fff;
  width: calc(100% - 20px);
  overflow: hidden;
  cursor: default;
}

.number-like {
  height: 20px;
  left: 10px;
  position: absolute;
  bottom: 45px;
  font-size: 13px;
  color: #77797c;
  cursor: default;
}

.liked-img {
  position: absolute;
  bottom: 0;
  height: 12px;
}

#number-like {
  margin-bottom: -10px;
  position: absolute;
  bottom: 6px;
  left: 16px;
}

.number-comment {
  height: 20px;
  right: 10px;
  position: absolute;
  bottom: 45px;
  font-size: 13px;
  color: #77797c;
  cursor: default;
}

.commented-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12px;
}

#number-comment {
  margin-bottom: -10px;
  position: absolute;
  bottom: 6px;
  right: 16px;
}

.numberComment {
  margin-bottom: -10px;
  position: absolute;
  bottom: 6px;
  right: 16px;
}

.info {
  background: url(source-img/info-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 40px;
}


#imageInput {
  width: 0;
  height: 0;
  visibility: hidden;
}

#add-location {
  background-color: #fff; 
  width: calc(100% - 130px); 
  position: absolute; 
  height: 50px; 
  bottom: 50px; 
  right: 10px;
}

#add-address {
  background-color: #fff; 
  width: calc(100% - 130px); 
  position: absolute; 
  height: 50px; 
  bottom: 105px; 
  right: 10px;
}

#text-location-vn, #text-location-eng, #text-address-vn, #text-address-eng {
  height: 25px; 
  font-size: 13px; 
  width: calc(100% - 30px); 
  left: 0; 
  bottom: 0; 
  cursor: default;
  border: 1.5px solid #dededf;
  border-radius: 5px;
  padding-left: 5px;
}

#add-location-button {
  width: 25px; 
  position: absolute; 
  right: 0; 
  bottom: 1px;
  cursor: pointer;
}

.big-text {
  font-size: 30px;
  font-weight: bold;
  cursor: default;
}

#email-to-us {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 30px;
}

#email-to-us #send-mail {
  position: absolute;
  background: url(source-img/envelope-regular.svg);
  background-size: contain;  
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  top: 5px;
  left: 5px;
}


#email-to-us #my-mail {
  position: absolute;
  font-size: 20px;
  left: 55px;
  bottom: 5px;
  cursor: default;
}

.comment-action {
  width: 100%; 
  height: 100%;
  border-radius: 15px; 
  background-color: #fff; 
  border: 1px solid #e4e6e9; 
  position: relative; 
  margin-top: -300px;
  display: none;
  z-index: 100000;
}

.comment-input {
  width: calc(100% - 57px);
  position: absolute;
  height: 36px;
  left: 7px;
  bottom: 7px;
  border-radius: 15px;
  padding-left: 10px;
}

.comment-button {
  position: absolute;
  height: 36px;
  right: 7px;
  width: 36px;
  bottom: 7px;
  border: none;
  background-color: transparent;
  background-image: url(source-img/paper-plane.svg);
}

.comment-container {
  width: 98%;
  height: 455px;
  position: relative;
  left: 1%;
  overflow: auto;
  margin-top: 25px;
  background-color: #fff;
}

.imageOfPost {
  border-radius: 10px;
  cursor: pointer;
}

.comment {
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-bottom: 5px;
  position: relative;
}

.comment-avt {
  border-radius: 50%;
  position: absolute;
  height: 50px;
  top: 10px;
  left: 10px;
}

.comment-username {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 70px;
  top: 5px;
  cursor: default;
}

.comment-text {
  color: #000;
  background-color: #fff;
  width: calc(100% - 80px);
  left: 70px;
  position: absolute;
  top: 35px;
  font-size: 13px;
  height: 60px;
  cursor: default;
}

#search-bar_animation{
  position: absolute;
  display: flex;
  width: 90%;
  height: 45px;
  border-radius: 10px;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  align-items: center;
  transition: width 0.2s ease, height 0.3s ease, top 0.3s ease, box-shadow 0.2s ease, border-radius 0.3 ease;
}


@media (min-width : 768px){
  #tool-bar {
    display: none;
  }

  #search-bar_animation{
    position: absolute;
    width: 100%;
    max-width: 610px;
    height: 45px;
    background: #ffffff;
    border-radius: 10px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
    cursor: pointer;
    align-items: center;
    transition: width 0.2s ease, height 0.3s ease, top 0.3s ease, box-shadow 0.2s ease, border-radius 0.3 ease;
  }
  #search-bar_animation.active{
    animation: scaleUp 0.3s forwards;
    display: flex;
  }
  @keyframes scaleUp {
    from {
      width: 90%;
      height: 45px;
      top: 60px;
      border-radius: 10px;
      background: white;
    }
    to {
      width: 100%;
      height: 100%;
      top: 50%;
      border-radius: 0px;
      background: #F1F2F4;
    }
  }
  
  #search-bar_animation.inactive {
    animation: scaleDown 0.3s forwards;
    display: none;
  }
  
  @keyframes scaleDown {
    from {
      width: 100%;
      height: 100%;
      top: 50%;
      border-radius: 0px;
      background: #F1F2F4;
    }
    to {
      width: 90%;
      height: 45px;
      top: 60px;
      border-radius: 10px;
      background: white;
    }
  }
  
   #search-bar {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 610px;
    height: 45px;
    background: #ffffff;
    border-radius: 10px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
    cursor: pointer;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transition: box-shadow 0.2s ease;
  }
  
  
  @keyframes transitionSearchBarOn {
    from {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;  
    }
    to {box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
  
  #search-bar.active{
    animation: transitionSearchBarOn 0.3s forwards;
  }
  
  #search-bar.inactive {
    animation: transitionSearchBarOff 0.3s forwards;
    
  }
  
  @keyframes transitionSearchBarOff {
    from {box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    to {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
  }
  

  .search-bar_icon{
    margin-left: 5px;
    margin-right: auto;
    justify-content: center; 
    display: flex;
    align-items: center; 
    width: 40px;
    height: 40px;
  }
  
  .search-bar_icon-image{
    width: 50%;
    height: 50%;
  }
  
  .search-bar_user-icon{
    margin-left: auto;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
  }
  .search-bar_input {
    flex: 1; 
    text-align: left;   
    border: none;
    outline: none;
    margin-right: 5px;
  }
  .search-bar_input::placeholder {
    text-align: left; 
  }
  
  #list-result{
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: auto;
    background: #ffffff;
    display: none;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 50px;
    z-index: 1001;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  #list-result ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: auto;
  }
  
  #list-result li{
    width: 100%;
    height: 50px;
    list-style-type: none;
  }
  
  .list-result_border-top{
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background: #666666;
    margin: 0px;
    padding: 0px;
  }
  
  .list-result_name{
    width: 80%;
    height: 50px;
    margin-left: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
  }
  .list-result_icon{
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
  }
  .list-result_icon i{
    transform: translateY(50%);
  }
  .list-result_name_key{
    width: 100%;
    height: 20px;    
    font-size: 14px;
    padding-top: 3px;
  }
  .list-result_name_description{
    width: 100%;
    height: 20px;
    font-size: 12px;
  }
  
}

@media (max-width: 768px){
  .image-qr {
    bottom: 10px;
  }
  .infoDiv {
    height: 60%;
    width: 96%;
  }
  .infoDiv .toolbar {
    height: 100px;
  }
  .infoDiv .content {
    margin-top: 90px;
  }
  .infoDiv .toolbar .dong-gop {
    left: 15px;
    top: 66px;
  }
  .infoDiv .toolbar .direct-btn {
    left: 120px;
  }
  .infoDiv .toolbar .send-feedback {
    top: 60px;
    left: 120px;
  }
  #post-div {
    width: 90%;  
    left: 5%; 
    top: 30px;
  }
  #enter-post {
    width: 90%; 
    left: 5%; 
    top: 30px;
  }
  .show-post {
    width: 98%;
    left: 1%;
    top: 30px;
  }

  .sidebar
  {
    display: none;
  }
  .main-content{
    left: 0px;
    width: 100%;
  }

  #search-bar_animation{
    position: absolute;
    display: flex;
    width: 90%;
    height: 45px;
    background: #ffffff;
    border-radius: 10px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    align-items: center;
    transition: width 0.2s ease, height 0.3s ease, top 0.3s ease, box-shadow 0.2s ease, border-radius 0.3 ease;
  }
  #search-bar_animation.active{
    animation: scaleUp 0.3s forwards;
  }
  @keyframes scaleUp {
    from {
      width: 90%;
      height: 45px;
      top: 30px;
      border-radius: 10px;
      background: white;
    }
    to {
      width: 100%;
      height: 100%;
      top: 50%;
      border-radius: 0px;
      background: #F1F2F4;
    }
  }
  
  #search-bar_animation.inactive {
    animation: scaleDown 0.3s forwards;
  }
  
  @keyframes scaleDown {
    from {
      width: 100%;
      height: 100%;
      top: 50%;
      border-radius: 0px;
      background: #F1F2F4;
    }
    to {
      width: 90%;
      height: 45px;
      top: 30px;
      border-radius: 10px;
      background: white;
    }
  }

   #search-bar {
    position: absolute;
    display: flex;
    width: 90%;
    height: 45px;
    background: #ffffff;
    border-radius: 10px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
    cursor: pointer;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transition: box-shadow 0.2s ease;
  }

  
  @keyframes transitionSearchBarOn {
    from {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;  
    }
    to {box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
  
  #search-bar.active{
    animation: transitionSearchBarOn 0.3s forwards;
  }

  #search-bar.inactive {
    animation: transitionSearchBarOff 0.3s forwards;
    
  }
  
  @keyframes transitionSearchBarOff {
    from {box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    to {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
  }

  .search-bar_icon{
    margin-left: 5px;
    margin-right: auto;
    justify-content: center; 
    display: flex;
    align-items: center; 
    width: 40px;
    height: 40px;
  }

  .search-bar_icon-image{
    width: 50%;
    height: 50%;
  }

  .search-bar_user-icon{
    margin-left: auto;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D9D9D9;
  }
  .search-bar_input {
    flex: 1; 
    text-align: left;   
    border: none;
    outline: none;
    margin-right: 5px;
  }
  .search-bar_input::placeholder {
    text-align: left; 
  }

  #list-result{
    position: absolute;
    width: 90%;
    height: auto;
    background: #ffffff;
    display: none;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 55px;
    z-index: 10;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  #list-result ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: auto;
  }
  
  #list-result li{
    width: 100%;
    height: 50px;
    list-style-type: none;
  }

  .list-result_border-top{
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background: #666666;
    margin: 0px;
    padding: 0px;
  }

  .list-result_name{
    width: 80%;
    height: 50px;
    margin-left: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
  }
  .list-result_icon{
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
  }
  .list-result_icon i{
    transform: translateY(50%);
  }
  .list-result_name_key{
    width: 100%;
    height: 20px;    
    font-size: 14px;
    padding-top: 3px;
  }
  .list-result_name_description{
    width: 100%;
    height: 20px;
    font-size: 12px;
  }
  
  /* Tool bar */
  #tool-bar {
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 400px;
    bottom: 10px;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(100);
    transition: width 0.2s ease, height 0.3s ease, top 0.3s ease, box-shadow 0.2s ease;
  }

  @keyframes transitionYDown {
    from {
    }
    to {
      transform: translateY(389px);
    }
  }
  
  #tool-bar.active{
    animation: transitionYDown 0.2s forwards;
  }

  #tool-bar.inactive {
    animation: transitionYUp 0.2s forwards; 
  }
  
  @keyframes transitionYUp {
    from {
      transform: translateY(389px);
    }
    to {
      transform : translateY(389px);
    }
  }

  .tool-bar_header1{
    width: 30px;
    height: 4px;
    background: #DADCE0;
    position: relative;
    border-radius: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tool-bar_header2
  {
    width: 100%;
    height: 150px;
    top: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
   .tool-bar_header2_title{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }
  .tool-bar_header2_choose{
    display: block;
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex; 
  }
  
  .tool-bar_header2_choose_child
  {
    width: 130px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .tool-bar_header2_choose_child_content
  {
    width: 60px;
    height: 60px;
    background: #1A73E8;
    position: relative;
    border-radius: 30px;
    
  }
  .tool-bar_header2_choose_child_content_logo
  {
    width: 40px;
    height: 40px;
    top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tool-bar_header2_choose_child_content_logo_item{
    
    width: 40px;
    height: 40px;
    top: 30px;
    position: relative;
    left: 4px;
    top: 7px;
  }

  .tool-bar_header2_choose_child_content_text
  {
    width: 100px;
    height: 50px;
    top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #81858A;
  }
  .tool-bar_line1{
    height: 2px;
    width: 80%;
    background: #E0E2E6;
    border-radius: 2px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 170px;
  }

  .show-post {
    height: 600px;
  }

  
  .tool-bar_header3
  {
    width: 100%;
    height: 150px;
    top: 270px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
   .tool-bar_header3_title{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
  }
  .tool-bar_header3_choose{
    display: block;
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex; 
  }
  
  .tool-bar_header3_choose_child
  {
    width: 130px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .tool-bar_header3_choose_child_content
  {
    width: 60px;
    height: 60px;
    background: #666666;
    position: relative;
    border-radius: 30px;
    
  }
  .tool-bar_header3_choose_child_content_logo
  {
    width: 40px;
    height: 40px;
    top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .tool-bar_header3_choose_child_content_logo_content
  {
    width: 40px;
    height: 40px;
    position: relative;
    left: 8px;
    top: 8px;
  }

  .tool-bar_header3_choose_child_content_text
  {
    width: 100px;
    height: 50px;
    top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #81858A;
  }
  .tool-bar_line2{
    width: 100%;
    height: 5px;
    background: #D9D9D9;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 330px;
    margin: 0px;
  }
  .tool-bar_select-language{
    top: 340px;
    position: relative;
    width: 150px;
    height: 25px;
    display: flex;
    margin-left: 15px;
  }
  .tool-bar_select-language_icon
  {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .65;
    padding: 12px 4px 12px 24px;
    background-position: 4px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(//maps.gstatic.com/mapfiles/maps_lite/images/1x/translate_1x.svg);
  }
  .tool-bar_select-language_drop-down
  {
    width: 100px;
    height: 25px;
    border-color: white;
  }
  .tool-ba_contribute{
    width: 120px;
    height: 25px;
    top: 315px;
    margin-left: auto;
    display: flex;
    position: relative;
  }
  .tool-ba_contribute_icon{
    width: 25px;
    height: 25px;
    opacity: .65;
    padding: 12px 4px 12px 24px;
    background-position: 4px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(//maps.gstatic.com/mapfiles/maps_lite/images/1x/feedback_1x.svg);
  }
  .tool-ba_contribute_text-content{
    margin-left: 5px;
  }

  

.tool-bar button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.tool-bar button:hover {
  background-color: #ddd;
}

.tool-bar button.active {
  background-color: #000;
  color: #fff;
} */

/* Cho phép di chuyển thanh công cụ */
/* .tool-bar.draggable {
  cursor: move;
}

.tool-bar.draggable:active {
  opacity: 0.5;
}
  

  /* Hind orther resposive */
  .language-toggle-box{
    display: none;
  }
  #google-login-btn{
    display: none;
  }
  #music{
    display: none;
  } 

}